h1{
    font-family: 'Sriracha', cursive;
    color:darkslategrey;
    border: solid 4px red;
    border-radius: 10px;
    text-align: center;
}
h4{
    text-align: center;
}
form{
    border: solid mediumaquamarine 1px;
    text-align: center;
    
}
p{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid red 4px;
    border-radius: 10px;
}