@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    color: #025157;
}
.header{
    font-size: 0;
    margin: 40px 20px 0 20px ;
}
.header >*{
    
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo{
    width:15%;
}

.navbar li {
    color: #025157;
    margin-left: 25px;
    margin-right: 25px;
}
.navbar{
    width:70%;
    text-align: center;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions a{
    color: #67b54b;
    margin-left: 10px;
    margin-right: 10px;
}
.actions button{
    color: white;
    background: #67b54b;
    padding:12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
body{
    color:#fffbf7;
}
h1{
    margin: 40px;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    color:#025157;
    border-radius: 10px;
    text-align: center;
}
h4{
    margin: 10px;
    text-align: center;
    color:#46484c;
}
form{
    margin: 15px;
    color:#fff;
    text-align: center;
    
}
form input{
    padding: 15px 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: solid 1px gray;
}
form button{
    padding: 15px 25px;
    margin-left: -5px;
    background-color: #025157;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
button{
    background-color: #025157;
    border: none;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
p{
    color: #464830;
    text-align: center;
}
.capterra{
    display: block;
    padding: 2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.banner *{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.publicar h3{
    font-family: 'Alegreya', serif;
    font-size: 40px;
    color: #025157;
    line-height: 48px;
}
.publicar p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;

}
.publicar > form{
    display: flex;
}
.publicar > form p{
    color: #025157;
    margin-right: 18px;
}