body{
    color:#fffbf7;
}
h1{
    font-family: 'Sriracha', cursive;
    color:#025157;
    border: solid 4px red;
    border-radius: 10px;
    text-align: center;
}
h4{
    text-align: center;
    color:#46484c;
}
form{
    color:#fff;
    text-align: center;
    
}
button{
    background-color: #025157;
    border: none;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
p{
    color: #464830;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid red 4px;
    border-radius: 10px;
}